<p>
  Choose an answer for each of the questions and submit the quiz when you're confident of your answers!  Good luck!
</p>

<form *ngIf="questions[0]" (submit)="submitAnswers()" #formData="ngForm">

	<p>1. {{ questions[0].question }}</p>
	<select name="answer1" [(ngModel)]="answer1" required>
		<option [value]="questions[0].answer1">{{questions[0].answer1}}</option>
		<option [value]="questions[0].answer2">{{questions[0].answer2}}</option>
		<option [value]="questions[0].answer3">{{questions[0].answer3}}</option>
	</select>

	<p>2. {{ questions[1].question }}</p>
	<select name="answer2" [(ngModel)]="answer2" required>
		<option [value]="questions[1].answer1">{{questions[1].answer1}}</option>
		<option [value]="questions[1].answer2">{{questions[1].answer2}}</option>
		<option [value]="questions[1].answer3">{{questions[1].answer3}}</option>
	</select>

	<p>3. {{ questions[2].question }}</p>
	<select name="answer3" [(ngModel)]="answer3" required>
		<option [value]="questions[2].answer1">{{questions[2].answer1}}</option>
		<option [value]="questions[2].answer2">{{questions[2].answer2}}</option>
		<option [value]="questions[2].answer3">{{questions[2].answer3}}</option>
	</select>

	<hr>

	<a [routerLink]="['/']"><button type="button" name="cancel">Cancel</button></a>

	<input type="submit" name="answer" value="Submit Answers" [disabled]="!formData.form.valid"> <span *ngIf="!formData.form.valid">All questions must be answered before submitting.</span>
</form>
